@forward './base/index';
@use './utility/index' as variable;
@forward './partial/index';

// CSS Mixin

@mixin para-style {
    font-size: 16px;
    text-align: center;
}

@mixin heading-style($size, $align) {
    font-size: $size;
    text-align: $align;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #667085;
}

// p{
//     @include para-style();
//     color: #212529;
// }

// .heading{
//     @include heading-style(18px, left)
// }

// if else consditions
@mixin text-size($value) {
    @if ($value == sm) {
        font-size: 12px;
    } @else if($value == md) {
        font-size: 16px;
    } @else if($value == lg) {
        font-size: 18px;
    } @else {
        font-size: none;
    }
}

.my-font {
    @include text-size(lg);
}

// for loop
@for $i from 5 through 25 {
    .mb-#{$i} {
        margin-bottom: 4px * $i !important;
    }
}

// Each loop
$colors: (
    color1: red,
    color2: green,
    color3: blue,
    color4: yellow,
);

// @each $key, $color in $colors {
//     .#{$color}-text {
//         color: $color;
//     }
// }

/*=========================================================================================
    2.0 - Global CSS Start
 ==========================================================================================*/
html,
body {
    font-family: variable.$inter;
    color: #ddd;
    background: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: variable.$syne;
    color: #2f2d53;
}

// p{
//     @include para-style;
// }

a {
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;

    &:hover {
        color: var(--dark-purple);
        cursor: pointer;
    }
}

.section {
    margin-bottom: 60px;
}

.mobile-show {
    display: none !important;
}

.mobile-lg-show {
    display: none;
}

.column-2 {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

/* Section Top Title */
.section-title-box {
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 60px;

    h2 {
        font-weight: 600;
        font-size: 48px;
        line-height: 62px;
        text-align: center;
        color: var(--dark-purple);
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #6c688a;
        margin-top: 16px;
    }
}

/* Text Color */
.text-orange {
    color: variable.$orange !important;
}

.text-purple {
    color: var(--purple);
}

/* Button Start */
.btn-purple {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    background: -o-linear-gradient(348.96deg, #9c4df4 0%, #b071f6 100%);
    background: linear-gradient(101.04deg, #9c4df4 0%, #b071f6 100%);
    -webkit-box-shadow: 0px 4px 20px rgba(161, 86, 245, 0.2);
    box-shadow: 0px 4px 20px rgba(161, 86, 245, 0.2);
    border-radius: 8px;
    padding: 20px 30px;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
    border: 1px solid var(--purple);

    &:hover {
        color: #fff;
    }
}

/* Slick Slider */
.slider-btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;

    .slick-arrow {
        background: variable.$orange;
        -webkit-box-shadow: 0px 50px 80px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 50px 80px rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        width: 55px;
        height: 55px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #fff;
        cursor: pointer;
    }

    .slick-arrow.slick-disabled {
        background: #ffffff;
        color: variable.$orange;
    }
}

.slick-slider {
    margin: 0 10px;
    padding: 0;
}

.slick-slide {
    margin: 0 10px;
    padding: 0;
}

.slick-dots {
    bottom: -40px !important;
}

/* Color */

.bg-cream {
    background: variable.$cream;
}

.bg-gray {
    background: #faf6fe;
}

.bg-pink {
    background: #ffded5;
}

/* Utility */
.py-150 {
    padding: 150px 0;
}

/* Page Title Box Start */
.page-banner {
    padding: 20px;
}

.page-title-area {
    border-radius: 30px;
    padding: 30px;
    height: 450px;
    position: relative;
    overflow: hidden;
}

.page-title-box {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-bg {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    object-fit: cover;
}

.page-title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #ffffff;
    position: relative;
    z-index: 4;
    margin-bottom: 12px;
}

.breadcrumb-item a {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    display: inherit;
}

.page-breadcrumb {
    position: relative;
    z-index: 4;
}

.page-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.page-breadcrumb .breadcrumb-item.active {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

/* Page Title Box End */

/* Pagination Start */
.pagination-box ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}

.pagination-box ul .prev,
.pagination-box ul .next {
    width: 44px;
    height: 44px;
    background: #f2e6ff;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--purple);
    font-size: 18px;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
}

.pagination-box ul .prev.active,
.pagination-box ul .next.active {
    background: -o-linear-gradient(
        348.96deg,
        #9c4df4 0%,
        #b071f6 100%
    ) !important;
    background: -o-linear-gradient(
        348.96deg,
        #9c4df4 0%,
        #b071f6 100%
    ) !important;
    background: linear-gradient(101.04deg, #9c4df4 0%, #b071f6 100%) !important;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    color: #fff;
}

.pagination-text {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #0a033c;
}

.pagination-link.active {
    width: 44px;
    height: 44px;
    background: #fff;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #3e4756;
}

.pagination-link.active a {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #3e4756;
}

/* Pagination End */

/* Form */
label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #1d2939;
    margin-bottom: 12px;
}

.form-check-label {
    margin-bottom: unset !important;
}

.selectpicker {
    height: 100%;
    border-radius: 6px;
}

.selectpicker:focus-visible {
    outline: 0;
    border-radius: 6px;
}

.form-check-label {
    font-weight: 400;
    font-size: 18px;
    color: #6c688a;
    line-height: initial;
}

.form-check-input:focus {
    border-color: var(--purple);
    -webkit-box-shadow: 0 0 0 0.25rem rgba(156, 77, 244, 0.25);
    box-shadow: 0 0 0 0.25rem rgba(156, 77, 244, 0.25);
}

.shop-p-filter.form-select {
    border: 0;
    background: transparent;
    width: 70%;
}

.form-select:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #0a033c;
}

.form-label span {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #9d9ab1;
}

.form-control,
.form-select {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    padding: 18px 22px;
    background: #f2f4f7;
    border: 1px solid #e4e7ec;
    color: #0a033c;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

::placeholder {
    color: #98a2b3;
}

.form-select {
    color: #6c688a;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--purple);
    outline: 0;
    border: 1px solid #d6bbfb;
    -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05),
        0px 0px 0px 4px #f4ebff;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f4ebff;
}

.input-group-prepend {
    border: 1px solid #e7e6ec;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.selectpicker {
    color: #6c688a;
    padding: 16px 12px;
    border: 0;
}

.input-group-text {
    background-color: #fff;
    border: 1px solid #e7e6ec;
    padding: 16px 12px;
}

.slick-dots li button:before {
    font-size: 8px;
}

.slick-dots li.slick-active button:before {
    color: var(--purple);
    font-size: 12px;
}

.slick-dotted.slick-slider {
    margin-bottom: 100px;
}

/* Scroll To Top */
.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    padding: 10px;
    color: red;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--purple);
    color: #fff;
    border-radius: 6px;
}

/*=========================================================================================
    2.0 - Global CSS End
 ==========================================================================================*/

/*=========================================================================================
    3.0 - Home Page Start
 ==========================================================================================*/

//  About Us Section Start
.about-us-img-box {
    width: 370px;
    height: 450px;
    border-radius: 18px;
    position: relative;

    .aui-lg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .aui-dot {
        position: absolute;
        content: '';
        top: -80px;
        right: -80px;
        z-index: -1;
    }

    .aui-cat {
        position: absolute;
        content: '';
        bottom: -30px;
        right: -130px;
    }
}
//  About Us Section End

// Services Section Start
.single-service {
    background: #fffaeb;
    box-shadow: 1px 2px 4px rgba(156, 156, 156, 0.08);
    border-radius: 15px;
    padding: 24px 18px;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;

    .single-service-title {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        display: flex;
        align-items: center;
        color: #1d2939;
        transition: 0.3s ease all;
        -webkit-transition: 0.3s ease all;
        -moz-transition: 0.3s ease all;
        -ms-transition: 0.3s ease all;
        -o-transition: 0.3s ease all;
    }

    .single-service-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #667085;
        transition: 0.3s ease all;
        -webkit-transition: 0.3s ease all;
        -moz-transition: 0.3s ease all;
        -ms-transition: 0.3s ease all;
        -o-transition: 0.3s ease all;
    }

    .btn-details {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #475467;
        gap: 4px;
        transition: 0.3s ease all;
        -webkit-transition: 0.3s ease all;
        -moz-transition: 0.3s ease all;
        -ms-transition: 0.3s ease all;
        -o-transition: 0.3s ease all;
    }
    &:hover {
        cursor: pointer;
        background: variable.$orange;
        .single-service-title {
            color: #fff;
        }

        .single-service-text {
            color: #fff;
        }

        .btn-details {
            color: #fff;
        }
    }
}
// Services Section End

// Features Section Start

.single-feature {
    display: flex;
    align-items: self-start;
    gap: 16px;
    margin-bottom: 24px;
}

.fc-title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #1d2939;
    margin-bottom: 8px;
}

.fc-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #667085;
}

.features-lg-img {
    position: relative;
    height: 700px;
    width: 570px;
    border-radius: 180px 0px 0px 20px;
    text-align: right;
    margin-left: auto;
}

.features-lg {
    width: 100%;
    height: 100%;
    border-radius: 180px 0px 0px 20px;
}

.features-dot {
    position: absolute;
    content: '';
    top: -18px;
    left: -15px;
    z-index: -1;
}

.features-lg-img::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: #ffefea;
    top: 18px;
    left: 18px;
    z-index: -1;
    border-radius: 180px 0px 0px 20px;
}
// Features Section End

// Home Team Section Start
.single-team {
    cursor: pointer;
    .team-img-box {
        width: 100%;
        height: 300px;
    }

    .team-img-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .team-content {
        padding: 20px;
        background: #fff;
        box-shadow: 1px 1px 8px rgba(102, 102, 102, 0.1);
        text-align: center;
        transition: 0.3s ease all;
        -webkit-transition: 0.3s ease all;
        -moz-transition: 0.3s ease all;
        -ms-transition: 0.3s ease all;
        -o-transition: 0.3s ease all;

        .team-name {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            color: #344054;
            text-align: center;
            margin-bottom: 12px;
            transition: 0.3s ease all;
            -webkit-transition: 0.3s ease all;
            -moz-transition: 0.3s ease all;
            -ms-transition: 0.3s ease all;
            -o-transition: 0.3s ease all;
        }

        .team-designation {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            text-align: center;
            font-size: 14px;
            line-height: 100%;
            color: #667085;
            margin-bottom: 16px;
            transition: 0.3s ease all;
            -webkit-transition: 0.3s ease all;
            -moz-transition: 0.3s ease all;
            -ms-transition: 0.3s ease all;
            -o-transition: 0.3s ease all;
        }

        .team-social {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            li {
                a {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    background: #667085;
                    border-radius: 50%;
                    font-style: 14px;
                    transition: 0.3s ease all;
                    -webkit-transition: 0.3s ease all;
                    -moz-transition: 0.3s ease all;
                    -ms-transition: 0.3s ease all;
                    -o-transition: 0.3s ease all;
                }
            }
        }
    }
    &:hover {
        .team-content {
            background: variable.$orange;

            .team-name {
                color: #fff;
            }

            .team-designation {
                color: #fff;
            }

            .team-social {
                li {
                    a {
                        width: 24px;
                        height: 24px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: variable.$orange;
                        background: #fff;
                    }
                }
            }
        }
    }
}

// Home Team Section End

// Testimonial Section Start
.testimonial-rating-collection li {
    color: #fdc639;
    font-size: 18px;
}

.testimonial-rating-collection {
    display: flex;
    align-items: center;
    gap: 4px;
}

.testimonial-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #344054;
}

.testimonial-msg {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #667085;
}

.testiomonial-bottom .testimonial-author {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #344054;
}

.testiomonial-bottom {
    display: flex;
    justify-content: space-between;
}

.testiomonial-top {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

.single-testimonial {
    background: #ffffff;
    border-radius: 0px 30px 0px 30px;
    padding: 50px 30px;
    -webkit-border-radius: 0px 30px 0px 30px;
    -moz-border-radius: 0px 30px 0px 30px;
    -ms-border-radius: 0px 30px 0px 30px;
    -o-border-radius: 0px 30px 0px 30px;
}
// Testimonial Section End

// Home Contact Section Start
.home-contact-title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #344054;
}

.contact-info-collection {
    li {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #475467;
        display: flex;
        align-items: center;
        gap: 20px;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: variable.$orange;
            border-radius: 50%;
            color: #fff;
        }
    }
}
// Home Contact Section End

// Home Blog Section Start
.single-blog {
    .blog-top {
        position: relative;
        width: 100%;
        height: 280px;
        border-radius: 15px 15px 0 0;
        overflow: hidden;

        .blog-img-box {
            display: block;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .blog-cat {
            position: absolute;
            content: '';
            bottom: 14px;
            right: 14px;
            background: #ff5b2e;
            padding: 6px 14px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            display: flex;
            align-items: center;
            color: #ffffff;
        }
    }

    .blog-content {
        background: #fff;
        padding: 24px 18px;
        box-shadow: 1px 1px 6px rgba(102, 102, 102, 0.08);
        border-radius: 0px 0px 15px 15px;

        .blog-title {
            font-family: 'Syne';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #344054;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 24px;
            min-height: 60px;
        }

        .blog-date {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #667085;
        }
    }
}
// Home Blog Section End

// Subscription Section Start
.subscribe-box {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffebaf;
    border-radius: 20px;
}

.subscribe-bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.subscribe-left {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    z-index: 1;
}

.subscribe-right {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    z-index: 1;
}

.subscribe-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    max-width: 480px;
}

.subscribe-box h2 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2f2d53;
}
.subscribe-box p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ff5b2e;
}

.subscribe-form-box {
    height: 75px;
    width: 465px;
    position: relative;
}

.subscribe-form-box input {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 12px;
}

.subscribe-form-box button {
    position: absolute;
    right: 8px;
    top: 7px;
}

// Subscribe 2
.subscribe-box-2 {
    align-items: start !important;
    padding: 20px;

    .subscribe-content {
        justify-content: start;
        align-items: start;
        max-width: 480px;

        h2 {
            text-align: left !important;
            color: #fff !important;
        }

        .subscribe-form-box {
            width: 480px;
        }
    }
}

.subscribe-cat-2 {
    position: absolute;
    content: '';
    bottom: 0;
    right: 60px;
    z-index: 9;
}
// Subscription Section End

// Footer Section Start
.footer-area {
    position: relative;
}

.footer-bg {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    top: 0;
    left: 0;
}

.row.footer-middle {
    position: relative;
    z-index: 3;
    padding: 80px 0;
}

.footer-content p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 30px;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-social li a {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease all;
    font-size: 18px;
    color: #fff;
    background: #667085;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-content {
    width: 80%;
}

.footer-menu .menu-category {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 18px;
}

.footer-menu-list li a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}

.footer-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px;
}

.footer-menu {
    .contact-info-collection li {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
    }

    p {
        span {
            width: 24px;
            height: 24px;
            color: #fff;
        }
    }
}

.footer-devider {
    border-top: 1px solid #fff;
    position: relative;
    z-index: 2;
    opacity: 0.5;
}

.footer-bottom {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.footer-bottom-link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
}

.footer-copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    /* Gray/White */
    color: #ffffff;
}

.footer-bottom-link a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    /* Gray/White */
    color: #ffffff;
}

.footer-bottom-link p {
    color: #fff;
}
// Footer Section End

/*=========================================================================================
    3.0 - Home Page Start
 ==========================================================================================*/

/*=========================================================================================
    22.0 - 404 Page Start
 ==========================================================================================*/
.error-page {
    padding-top: 160px;
}

.error-img {
    width: 100%;
}

.error-title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 68px;
    color: #ff5b2e;
    margin-bottom: 8px;
}

.error-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2f2d53;
    margin-bottom: 24px;
}

.error-page-content {
    margin-top: 45px;
}

/*=========================================================================================
    22.0 - 404 Page End
 ==========================================================================================*/

/*=========================================================================================
    24.0 - User All Form Page Start
 ==========================================================================================*/
.user-common {
    padding-top: 160px;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: auto;
    min-height: 90vh;
}

.sign-up-bg {
    background-image: url(../images/login-bg.png);
}

.sign-in-bg {
    background-image: url(../images/sign-in-bg.png);
}

.user-profile-form {
    padding: 70px 60px;
    background: #fff;
    border-radius: 20px;
}

.user-lg-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #0a033c;
}

.form-top-box .form-name {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #0a033c;
    margin-bottom: 12px;
}

.form-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #6c688a;
}

.form-top-box {
    margin-bottom: 20px;
}

.google-signin-box a {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid #d0d5dd;
    padding: 18px 0;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #394452;
}

.signUp-with-email {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #0a033c;
    position: relative;
    padding: 0 12px;
    display: inline-block;
}

.signUp-with-email::after {
    position: absolute;
    content: '';
    width: 200px;
    height: 1px;
    background: #d0d5dd;
    left: -200px;
    top: 16px;
}

.signUp-with-email::before {
    position: absolute;
    content: '';
    width: 200px;
    height: 1px;
    background: #d0d5dd;
    right: -200px;
    top: 16px;
}

.google-signin-box {
    overflow: hidden;
    margin-bottom: 32px;
    text-align: center;
}

.form-bottom-box p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #a5abb3;
    text-align: center;
}

.form-bottom-box p a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #ff5b2e;
}

.form-bottom-box .form-check-label {
    font-weight: 400;
    font-size: 18px;
    color: #0a033c;
}

.forgot-pass {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #344054;
}

.forgot-pass:hover {
    color: #344054;
}

.psc-item {
    background: #e4e4e7;
    border-radius: 10px;
    width: 100px;
    height: 5px;
}

.pass-strong-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.remember-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #344054;
    margin-bottom: 0;
}

.remember-pass {
    display: flex;
    align-items: center;
    gap: 8px;
}

.remember-label a {
    color: variable.$orange;
}

.or-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;

    .or-text {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 40px;
        text-align: center;
        background: #fff;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #394452;
    }

    .or-devider {
        width: 100%;
        height: 1px;
        background: #d9d9d9;
        margin-top: -10px;
    }
}

/*=========================================================================================
    24.0 - User All Form Page End
 ==========================================================================================*/

/*=========================================================================================
    12.0 - FAQ Page Start
 ==========================================================================================*/
.accordion {
    --bs-accordion-bg: transparent;
}

.accordion-button {
    border: 0;
    border-radius: 8px;
    padding: 20px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #475467;
    border-bottom: 1px solid #98a2b3;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.accordion-button:focus {
    border-color: #98a2b3;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0;
}

.accordion-body {
    padding-top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #667085;
}

.accordion-button:not(.collapsed) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #ff5b2e;
    background: transparent;
    border: 0;
    box-shadow: 0;
}

.accordion-item {
    margin-bottom: 16px;
    border-radius: 8px;
    border: 0 !important;
}

.accordion-button:focus {
    color: #ff5b2e;
    background: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.accordion-body {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #6c688a;
    padding-top: 0;
}
/*=========================================================================================
    12.0 - FAQ Page End
 ==========================================================================================*/

//  Teams Page Start

.single-team-member {
    padding: 26px;
    background: #ffffff;
    box-shadow: 1px 2px 5px rgba(132, 132, 132, 0.06);
    border-radius: 30px;

    .teams-img-box {
        height: 360px;
        margin-bottom: 24px;
        border-radius: 26px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .teams-socials {
            position: absolute;
            content: '';
            bottom: 25px;
            right: -100px;
            transition: 0.5s ease all;
            -webkit-transition: 0.5s ease all;
            -moz-transition: 0.5s ease all;
            -ms-transition: 0.5s ease all;
            -o-transition: 0.5s ease all;

            li {
                a {
                    width: 32px;
                    height: 32px;
                    background: #ffffff94;
                    margin-bottom: 10px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #344054;
                    transition: 0.3s ease all;

                    &:hover {
                        background: orange;
                        color: #fff;
                    }
                }
            }
        }
    }

    .teams-content-box {
        .teams-member-name {
            font-family: 'Syne';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 34px;
            color: #344054;
            text-align: center;
            margin-bottom: 4px;
            display: block;
        }

        .teams-member-designation {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #667085;
            text-align: center;
        }
    }

    &:hover {
        .teams-socials {
            position: absolute;
            content: '';
            right: 25px;
        }
    }
}
//  Teams Page End

// Pricing Page Start
.single-pricing {
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(123, 123, 123, 0.06);
    border-radius: 20px;
}

.pricing-name {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #170f49;
    margin-bottom: 18px;
}

.pricing-rate {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 68px;
    color: #170f49;
}

.pricing-rate span {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #6f6c90;
}

.pricing-top {
    padding: 50px 30px;
    text-align: center;
}

.pricing-collections li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.pricing-collections li:last-child {
    margin-bottom: 40px;
}

.pricing-collections li p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #344054;
}

.pricing-bottom {
    padding: 0 30px 45px 30px;
}
// Pricing Page End
