/*=========================================================================================
    Variables CSS Start
 ==========================================================================================*/
$syne: 'Syne', sans-serif;
$inter: 'Inter', sans-serif;

// Color
$orange: #ff5b2e;
$lightPink: #fffaf5;
$yellow: #ffcc37;
$pink: #ffefea;

/*=========================================================================================
    Variables CSS End
 ==========================================================================================*/
