/*=========================================================================================
    Section Title CSS Start
 ==========================================================================================*/
.section-title-box {
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 60px;

    .section-sm-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #ff5b2e;
    }

    .section-title {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #2f2d53;
        text-align: center;
    }
}
// Side Content
.section-side-span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ff5b2e;
    position: relative;
    padding-left: 40px;

    &::after {
        position: absolute;
        content: '';
        width: 25px;
        height: 2px;
        background: #ff5b2e;
        left: 7px;
        border-radius: 77px;
    }

    &::before {
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #ff5b2e;
        left: 0;
    }
}

.section-content-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 36px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.section-side-title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #2f2d53;
}

.section-side-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #667085;
}

.section-side-list {
    li {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #344054;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 8px;
    }
}

.section-title-box.text-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-side-title-box {
    margin-bottom: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    h2 {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #2f2d53;
        text-align: center;
    }
}

/* Section Top Title */
.section-title-box {
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 60px;

    h2 {
        font-weight: 600;
        font-size: 48px;
        line-height: 62px;
        text-align: center;
        color: var(--dark-purple);
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #6c688a;
        margin-top: 16px;
    }
}
/*=========================================================================================
    Section Title CSS End
 ==========================================================================================*/
